.split {
    display: flex;
    flex-direction: row;
  height:100vh;
  
  } 
  .gutter {
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: 50%;
  }
  
  .gutter.gutter-horizontal {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
    cursor: col-resize;
  }
  

#btnsave{
  top: 30px;
  margin-left: 30px;
}
#btncancel{
  top: 30px;
  margin-left: 30px;
}
#formcontent{
  margin-left: 120px;
}
@media  (max-width: 100px) {
  #grid {
      display: none;
  }
}
#PlaylistLibGrid{
  height: 88vh;
}
#ScheduleHeaderGrid{
  height: 94vh;
}
#ScheduleListGrid{
  height: 93vh;
}
 